.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:not(.btn) {
  color: #396f3e;
}
a:not(.btn):hover {
  color: #61ad67;
}
.color {
  color: #61ad67;
}
body {
  color: #666666;
}
#sp-header-wrapper .logo {
  background-image: url(../../images/presets/preset5/logo.png);
}
#sp-header-wrapper .search form #mod-search-searchword {
  border: 1px solid #61ad67;
}
#sp-header-wrapper .search form button {
  background: #61ad67;
}
#sp-main-body-wrapper #sp-right .module h3.header,
#sp-main-body-wrapper #sp-left .module h3.header {
  color: #fff;
  background-color: #61ad67;
}
#sp-main-body-wrapper #sp-component .page-header h1 {
  color: #fff;
}
#sp-main-body-wrapper #sp-component .page-header h1:before {
  background-color: #427f47;
}
#sp-main-body-wrapper #sp-component .page-header h1:after {
  background-color: #4b9050;
}
#sp-main-body-wrapper #sp-component .page-header h1 a {
  color: #fff;
}
#sp-main-body-wrapper #sp-component .vina-form {
  background: url("../../images/world-background/bg-goals.png") #61ad67;
}
#sp-main-body-wrapper #sp-component .vina-form .page-header h1 {
  color: #fff;
}
#sp-main-body-wrapper #sp-component .vina-form .page-header h1:before {
  background-color: #427f47;
}
#sp-main-body-wrapper #sp-component .vina-form .page-header h1:after {
  background-color: #4b9050;
}
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control select,
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control textarea,
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="text"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="password"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="datetime"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="datetime-local"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="date"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="month"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="time"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="week"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="number"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="email"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="url"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="search"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="tel"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control input[type="color"],
#sp-main-body-wrapper #sp-component .vina-form .well .vina-control .uneditable-input {
  color: #61ad67;
  background: #fff;
}
#sp-main-body-wrapper #sp-component .vina-form .nav-stacked li a:hover {
  background: #fff;
  color: #61ad67;
}
#sp-main-body-wrapper #sp-component .vina-form .toggle-editor .btn-group .btn {
  background: #fff;
  color: #61ad67;
}
#sp-main-body-wrapper #sp-component .vina-form .toggle-editor .btn-group .btn:hover {
  background: #61ad67;
  color: #fff;
}
#sp-main-body-wrapper article.post {
  background: #fff;
}
#sp-main-body-wrapper article.post h2 a {
  color: #61ad67;
}
#sp-main-body-wrapper article.post:before {
  background-color: #54a15a;
}
#sp-main-body-wrapper article.post:after {
  background-color: #61ad67;
}
#sp-main-body-wrapper .entry-meta.muted a {
  color: #61ad67;
}
#sp-main-body-wrapper .contact #slide-contact .accordion-group {
  background: #fff;
}
#sp-main-body-wrapper .contact #slide-contact .accordion-heading {
  background: url("../../images/world-background/bg-goals.png") #61ad67;
}
#sp-main-body-wrapper .contact #slide-contact .accordion-heading a {
  color: #fff;
}
#sp-main-body-wrapper #k2Container .vina-header-toolbar .catItemCategory,
#sp-main-body-wrapper #k2Container .vina-header-toolbar .userItemCategory {
  background-color: #54a15a;
}
#sp-main-body-wrapper #k2Container .vina-header-toolbar .catItemCategory:after,
#sp-main-body-wrapper #k2Container .vina-header-toolbar .userItemCategory:after {
  background-color: #54a15a;
}
#sp-main-body-wrapper #k2Container .vina-header-toolbar .catItemCommentsLink,
#sp-main-body-wrapper #k2Container .vina-header-toolbar .userItemCommentsLink {
  background-color: #61ad67;
}
#sp-main-body-wrapper #k2Container .vina-header-toolbar .catItemCommentsLink:before,
#sp-main-body-wrapper #k2Container .vina-header-toolbar .userItemCommentsLink:before {
  background-color: #61ad67;
}
#sp-main-body-wrapper #k2Container .vina-header-toolbar .tagItemCategory {
  background-color: #61ad67;
}
#sp-main-body-wrapper #k2Container .media-heading {
  color: #61ad67;
}
#sp-main-body-wrapper #k2Container .catItemTitle a,
#sp-main-body-wrapper #k2Container .tagItemTitle a,
#sp-main-body-wrapper #k2Container .userItemTitle a {
  color: #61ad67;
}
#sp-main-body-wrapper #k2Container .itemHeader .itemTitle {
  color: #61ad67;
}
#sp-main-body-wrapper #k2Container .blogdate:before {
  background-color: #54a15a;
}
#sp-main-body-wrapper #k2Container .blogdate:after {
  background-color: #61ad67;
}
#sp-main-body-wrapper #k2Container .itemHits {
  background: #61ad67;
}
#sp-main-body-wrapper #k2Container .itemRelated h3 {
  color: #fff;
}
#sp-main-body-wrapper #k2Container .itemRelated h3:before {
  background-color: #61ad67;
}
#sp-main-body-wrapper #k2Container .itemComments .itemCommentsCounter {
  color: #fff;
}
#sp-main-body-wrapper #k2Container .itemComments .itemCommentsCounter:before {
  background-color: #61ad67;
}
#sp-main-body-wrapper #k2Container .itemCommentsForm h3 {
  color: #fff;
}
#sp-main-body-wrapper #k2Container .itemCommentsForm h3:before {
  background-color: #61ad67;
}
#sp-main-body-wrapper #k2Container .itemCommentsForm form input:focus,
#sp-main-body-wrapper #k2Container .itemCommentsForm form textarea:focus {
  border-color: #61ad67;
}
#sp-main-body-wrapper #k2Container .itemBackToTop a {
  background-color: #61ad67;
}
#sp-main-body-wrapper #k2Container .itemBackToTop a:before {
  color: #fff;
}
div.blog-date {
  background-color: #61ad67;
}
div.blog-date-2 {
  background-color: #61ad67;
}
.label-info,
.badge-info {
  background: #61ad67;
}
.vina-categories li:before {
  color: #61ad67;
}
.pagination ul > li.pagination-active > a,
.pagination ul > li.pagination-active > span {
  background-color: #61ad67;
  color: #fff;
}
.pagination ul > li >a:hover {
  background-color: #61ad67;
  color: #fff;
}
.calendarTodayLinked a {
  color: #fff;
}
.calendarTodayLinked a:hover {
  color: #fff;
}
#sp-main-menu ul.level-0 > li:hover >a,
#sp-main-menu ul.level-0 > li.active >a {
  color: #fff;
  background-image: url("../../images/world-background/bg-goals.png");
  background-position: center top;
  background-color: #61ad67;
}
#sp-main-menu ul.level-0 > li:hover >a:after,
#sp-main-menu ul.level-0 > li.active >a:after {
  background-image: url("../../images/world-background/bg-goals.png");
  background-position: center top;
  background-color: #61ad67;
}
#sp-main-menu ul.level-0 > li ul li:hover >a,
#sp-main-menu ul.level-0 > li ul li.active >a {
  color: #61ad67;
  border-left: 5px solid #61ad67;
}
#sp-main-menu ul.level-0 > li ul li:hover >a:after,
#sp-main-menu ul.level-0 > li ul li.active >a:after {
  border-color: transparent transparent transparent #61ad67;
}
#sp-main-menu ul.level-0 > li ul li:hover >a.menu-preset1,
#sp-main-menu ul.level-0 > li ul li.active >a.menu-preset1 {
  color: #0C3B70;
  border-left: 5px solid #0C3B70;
}
#sp-main-menu ul.level-0 > li ul li:hover >a.menu-preset1:after,
#sp-main-menu ul.level-0 > li ul li.active >a.menu-preset1:after {
  border-color: transparent transparent transparent #0C3B70;
}
#sp-main-menu ul.level-0 > li ul li:hover >a.menu-preset2,
#sp-main-menu ul.level-0 > li ul li.active >a.menu-preset2 {
  color: #AC0035;
  border-left: 5px solid #AC0035;
}
#sp-main-menu ul.level-0 > li ul li:hover >a.menu-preset2:after,
#sp-main-menu ul.level-0 > li ul li.active >a.menu-preset2:after {
  border-color: transparent transparent transparent #AC0035;
}
#sp-main-menu ul.level-0 > li ul li:hover >a.menu-preset3,
#sp-main-menu ul.level-0 > li ul li.active >a.menu-preset3 {
  color: #6C4A00;
  border-left: 5px solid #6C4A00;
}
#sp-main-menu ul.level-0 > li ul li:hover >a.menu-preset3:after,
#sp-main-menu ul.level-0 > li ul li.active >a.menu-preset3:after {
  border-color: transparent transparent transparent #6C4A00;
}
#sp-main-menu ul.level-0 > li ul li:hover >a.menu-preset4,
#sp-main-menu ul.level-0 > li ul li.active >a.menu-preset4 {
  color: #f26c27;
  border-left: 5px solid #f26c27;
}
#sp-main-menu ul.level-0 > li ul li:hover >a.menu-preset4:after,
#sp-main-menu ul.level-0 > li ul li.active >a.menu-preset4:after {
  border-color: transparent transparent transparent #f26c27;
}
#sp-main-menu ul.level-0 > li ul li:hover >a.menu-preset5,
#sp-main-menu ul.level-0 > li ul li.active >a.menu-preset5 {
  color: #61ad67;
  border-left: 5px solid #61ad67;
}
#sp-main-menu ul.level-0 > li ul li:hover >a.menu-preset5:after,
#sp-main-menu ul.level-0 > li ul li.active >a.menu-preset5:after {
  border-color: transparent transparent transparent #61ad67;
}
.vina-menu {
  background: #61ad67 !important;
}
.vina-menu:hover {
  background: #61ad67 !important;
}
.vina-menu-small {
  background: #61ad67 !important;
}
.vina-menu-small:hover {
  background: #61ad67 !important;
}
#sp-feature-wrapper .vina-awesome-slider a.ws_next:hover,
#sp-feature-wrapper .vina-awesome-slider a.ws_prev:hover {
  background: #61ad67;
}
.vina-link {
  background-image: url(../../images/presets/preset5/slide-b.png);
  color: #fff !important;
  border: 1px solid #61ad67 !important;
}
.vina-link:hover {
  background: #fff;
  color: #61ad67 !important;
}
#sp-position-wrapper #sp-position1 #event-content .event-content {
  background: #61ad67;
}
#sp-position-wrapper #sp-position1 .sp_countdown {
  color: #fff;
}
#sp-position-wrapper #sp-position1 .sp_countdown .sp_countdown_int {
  color: #61ad67;
}
#sp-position-wrapper #sp-position1 .sp_countdown .sp_countdown_string {
  color: #a4d0a8;
}
.vina-upcoming-wrapper .vina-upcoming .user-item h3.time-title {
  border: 3px double #61ad67;
}
.vina-upcoming-wrapper .vina-upcoming .user-item:hover {
  background: url(../../images/presets/preset5/user-hover.png) no-repeat;
  background-size: 100%;
}
.vina-promotion .promotion-inner .promotion-link:before,
.vina-promotion .promotion-inner .promotion-link:after {
  background: #61ad67;
}
.vina-promotion .promotion-inner .promotion-link a.give-hand {
  color: #61ad67;
  border: 2px solid #61ad67;
}
.vina-promotion .promotion-inner:hover .promotion-link a.give-hand {
  color: #fff;
  background: #61ad67;
}
.vina-link-effect:before,
.vina-link-effect:after {
  background: #61ad67;
}
.vina-link-effect a.vina-link-border {
  color: #61ad67;
  border: 2px solid #61ad67;
}
.vina-link-effect:hover a.vina-link-border {
  color: #fff;
  background: #61ad67;
}
.vina-button {
  color: #fff !important;
  background: #61ad67 !important;
  border: 1px solid #fff !important;
}
.vina-button:hover {
  color: #61ad67 !important;
  background: #fff !important;
  border: 1px solid #61ad67 !important;
}
.vina-readmore {
  color: #61ad67 !important;
  background: #fff !important;
  border: 1px solid #61ad67 !important;
}
.vina-readmore:hover {
  color: #fff !important;
  background: #61ad67 !important;
}
.vina-feature-content ul li a {
  color: #C6C3C2;
  background: url(../../images/presets/preset5/li-bg.png) 0px 9px no-repeat;
}
.vina-feature-content ul li a:hover {
  color: #61ad67;
}
.vina-our-goals .user-item .user-item-inner h4 {
  color: #61ad67;
}
.vina-our-goals .user-item:hover {
  background: #83be87;
}
.vina-our-recent-blog ul li .moduleItemAuthor a {
  color: #61ad67;
}
.vina-our-recent-blog ul li .moduleItemIntrotext {
  border: 1px solid #ccc;
}
.vina-our-recent-blog ul li .moduleItemIntrotext .Item-info .moduleItemTitle {
  color: #61ad67;
}
.vina-our-recent-blog ul li .moduleItemIntrotext .Item-info .moduleItemReadMore {
  color: #fff;
  background: #61ad67;
  border: 1px solid #fff;
}
.vina-tweeter #vina-vscoller-twitter161 a {
  color: #61ad67 !important;
}
.vina-tab .tab ul.nav-tabs li a:hover {
  color: #61ad67;
  border-top: 4px solid #61ad67;
  background: #fff;
}
.vina-tab .tab ul.nav-tabs li.active a,
.vina-tab .tab ul.nav-tabs li:hover a {
  color: #61ad67;
  border-top: 4px solid #61ad67;
}
.vina-tab .tab .tab-content .sp-block {
  background: #61ad67 !important;
}
.module h3.header.border .title-border-content {
  background: #61ad67;
}
#sp-recent-wrapper .vina-recent ul li {
  border-bottom: 5px solid #61ad67;
}
#sp-recent-wrapper .vina-recent ul li:after {
  border-color: transparent transparent #61ad67 transparent;
}
#sp-recent-wrapper .vina-recent ul li a.moduleItemTitle {
  color: #83be87;
}
#sp-recent-wrapper .vina-recent ul li .moduleItemIntrotext .Item-info a.moduleItemReadMore {
  border: 1px solid #fff;
  color: #fff;
}
#sp-recent-wrapper .vina-recent ul li .moduleItemIntrotext:hover .Item-info a.moduleItemReadMore {
  background: #61ad67;
}
#sp-sponsors-wrapper #sponsors .carousel-control:hover {
  background: #61ad67;
}
#sp-sponsors-wrapper #sponsors ul li a {
  background: #61ad67;
}
.sp-main-menu-toggler {
  background: #61ad67;
  color: #fff;
}
.sp-main-menu-toggler:hover {
  background: #4b9050;
}
.sp-mobile-menu {
  background: #000;
}
.sp-mobile-menu ul li a {
  color: #fff;
}
.sp-mobile-menu ul li a:hover {
  color: #61ad67 !important;
}
.sp-mobile-menu >ul >li {
  border-bottom: 1px solid #333;
}
.sp-mobile-menu >ul >li:last-child {
  border: none;
}
.sp-mobile-menu >ul >li ul.collapse li {
  background: #333;
}
.sp-mobile-menu >ul >li ul.collapse ul li {
  background: #444;
}
.module.highlighted {
  background: #3498DB;
}
.module.highlighted a {
  color: #fff !important;
}
.page-header {
  color: #61ad67;
}
.page-header a {
  color: #61ad67;
}
.progress-striped .bar {
  background-color: #61ad67;
}
#vina_about_us .skill ul li {
  border-left: 2px solid #61ad67;
}
#vina_about_us .sp-bubble {
  background: #61ad67 !important;
}
#vina_about_us .sp-bubble cite span {
  border-right-color: #61ad67 !important;
  border-top-color: #61ad67 !important;
}
#vina_about_us .blinker-testimonial {
  background-color: #61ad67;
}
#vina_company .img-polaroid .info_team ul li a:hover {
  background: #61ad67;
}
#vina_company .sp-team .team-text h3 {
  color: #61ad67;
}
#vina_company .sp-team .team-share .facebook {
  background-color: #54a15a;
}
#vina_company .sp-team .team-share .facebook :after {
  background-color: #54a15a;
}
#vina_company .sp-team .team-share .twitter {
  background-color: #61ad67;
}
#vina_company .sp-team .team-share .twitter:before {
  background-color: #61ad67;
}
#vina_company .sp-team .team-share .twitter:after {
  background-color: #61ad67;
}
#vina_company .sp-team .team-share .gplus {
  background-color: #72b677;
}
#vina_company .sp-team .team-share .gplus:before {
  background-color: #72b677;
}
#vina_pricing_table ul {
  background: #f5f5f5;
}
#vina_pricing_table ul li {
  border-bottom: 1px solid #eee;
  color: #666;
}
#vina_pricing_table ul li:nth-child(odd) {
  background-color: #fff;
}
#vina_pricing_table ul li.head {
  background-color: #61ad67;
  color: #fff;
}
#vina_pricing_table ul li .vina-button {
  border: 1px solid #61ad67 !important;
}
#vina_pricing_table ul:hover {
  background: #fff;
}
#vina_pricing_table ul:hover li.head {
  background-color: #93c797;
}
#vina_pricing_table .pricing_pay {
  color: #fff;
  background: #61ad67;
}
#vina_portfolio h2 {
  color: #61ad67;
}
#vina_portfolio .filter-autohide {
  color: #61ad67;
}
#vina_portfolio .filter-autohide i {
  border: 1px solid #61ad67;
}
#vina_portfolio .gallery-filters a {
  background: none;
}
#vina_portfolio .gallery-filters a:hover,
#vina_portfolio .gallery-filters a.active {
  background: #61ad67;
  color: #fff;
}
#vina_portfolio ul li .info a {
  color: #fff;
}
#vina_portfolio ul li .info a:hover {
  background: #61ad67;
}
#vina_portfolio ul li:hover:before {
  width: 50%;
}
#vina_portfolio ul li:hover:after {
  width: 50%;
}
#vina_faq span.number {
  background: #61ad67;
}
#vina_services .single-text ul li:before {
  color: #61ad67;
}
#vina_services .our-action {
  background: #61ad67;
  color: #fff;
}
.our-features .single-feature i {
  background: #61ad67;
  color: #fff;
}
.our-features .single-feature h3:before {
  background: #fff;
  color: #61ad67;
}
.our-features .single-feature:hover i {
  background: #fff;
  color: #61ad67;
}
.our-features .single-feature:hover h3 a:before {
  background: #61ad67;
  color: #fff;
}
#vina_contact_us ul.social li a {
  border: 4px solid #c6e1c8;
  background: #61ad67;
}
#vina_contact_us ul.social li a:hover {
  border: 4px solid #61ad67;
}
#vina_contact_us ul.social li a:hover em {
  color: #61ad67;
}
#vina_contact_us .map span em {
  color: #61ad67;
}
.vina_comments .comment_link {
  background: #fff;
  border: 1px solid #61ad67;
}
.vina_comments .comment_link a {
  color: #61ad67;
}
.vina_comments .comment_link:after {
  border-color: #61ad67 transparent transparent transparent;
}
.category .items-row .item .entry-meta.muted [class^="icon-"],
.category .items-row .item .entry-meta.muted [class*=" icon-"] {
  color: #61ad67;
}
.vina-tag {
  background: #61ad67;
  -webkit-box-shadow: 0 4px 0 0 #4b9050;
  -moz-box-shadow: 0 4px 0 0 #4b9050;
  box-shadow: 0 4px 0 0 #4b9050;
  color: #fff !important;
}
.vina-tag:before {
  background: #61ad67;
  -webkit-box-shadow: 0 4px 0 0 #4b9050;
  -moz-box-shadow: 0 4px 0 0 #4b9050;
  box-shadow: 0 4px 0 0 #4b9050;
}
.vina-tag:after {
  -webkit-box-shadow: 3px 3px 0 0 #4b9050 inset;
  -moz-box-shadow: 3px 3px 0 0 #4b9050 inset;
  box-shadow: 3px 3px 0 0 #4b9050 inset;
}
.vina-icon ul li p:hover i {
  color: #61ad67;
}
.vina-online .header:before {
  color: #fff;
}
table.calendar tr td.calendarToday,
table.calendar tr td.calendarTodayLinked,
table.calendar tr td.calendarDateLinked a:hover {
  background: #61ad67;
}
.k2CategoriesListBlock li:before {
  color: #61ad67;
}
.k2CategoriesListBlock li:hover a {
  color: #61ad67;
}
.vina-search input[type="text"]:active,
.vina-search input[type="text"]:focus {
  -webkit-box-shadow: inset 8px 0 0 #61ad67;
  -moz-box-shadow: inset 8px 0 0 #61ad67;
  box-shadow: inset 8px 0 0 #61ad67;
}
#login-form input:not([type='checkbox']):active,
#login-form input:not([type='checkbox']):focus {
  -webkit-box-shadow: inset 8px 0 0 #61ad67;
  -moz-box-shadow: inset 8px 0 0 #61ad67;
  box-shadow: inset 8px 0 0 #61ad67;
}
.icon-color:before {
  color: #61ad67;
}
.vina-news li:before {
  color: #61ad67;
}
#sp-bottom-wrapper #sp-bottom1 ul.about li em {
  color: #61ad67;
}
#sp-bottom-wrapper,
#sp-footer-wrapper {
  color: #fff;
}
#sp-bottom-wrapper h3,
#sp-footer-wrapper h3 {
  color: #fff;
}
#sp-bottom-wrapper a:not(.btn),
#sp-footer-wrapper a:not(.btn) {
  color: #83be87;
}
#sp-bottom-wrapper a:not(.btn):hover,
#sp-footer-wrapper a:not(.btn):hover {
  color: #c6e1c8;
}
#sp-bottom-wrapper a:not(.btn) {
  color: #83be87;
}
#sp-bottom-wrapper a:not(.btn):hover {
  color: #fff;
}
#sp-footer-wrapper .container {
  background: #61ad67;
}
#sp-footer-wrapper a:hover {
  color: #c6e1c8 !important;
}
.btn-primary,
button,
input[type='submit'],
input[type='button'],
submit {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #61ad7e;
  background-image: -moz-linear-gradient(top,#61ad74,#61ad8d);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#61ad74),to(#61ad8d));
  background-image: -webkit-linear-gradient(top,#61ad74,#61ad8d);
  background-image: -o-linear-gradient(top,#61ad74,#61ad8d);
  background-image: linear-gradient(to bottom,#61ad74,#61ad8d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff61ad73', endColorstr='#ff61ad8d', GradientType=0);
  border-color: #61ad8d #61ad8d #427f66;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #61ad8d;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
button:hover,
button:active,
button.active,
button.disabled,
button[disabled],
input[type='submit']:hover,
input[type='submit']:active,
input[type='submit'].active,
input[type='submit'].disabled,
input[type='submit'][disabled],
input[type='button']:hover,
input[type='button']:active,
input[type='button'].active,
input[type='button'].disabled,
input[type='button'][disabled],
submit:hover,
submit:active,
submit.active,
submit.disabled,
submit[disabled] {
  color: #fff;
  background-color: #61ad8d;
  *background-color: #54a180;
}
.btn-primary:active,
.btn-primary.active,
button:active,
button.active,
input[type='submit']:active,
input[type='submit'].active,
input[type='button']:active,
input[type='button'].active,
submit:active,
submit.active {
  background-color: #4b9073 \9;
}
.border {
  border: none;
}
@media (max-width: 767px) {
  .responsive .vina-our-goals .user-item.circle {
    background: #83be87;
  }
}
